@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


* {
  font-family: 'Outfit', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #504455;
}


.rich-text { font-size: 15px;  }

.rich-text p { margin-bottom: 16px; color: #292929; }

.rich-text h1 { font-size: 36px; font-weight: 700; color: #252525 !important; margin: 32px 0; }

.rich-text h2 { font-size: 22px; font-weight: 700; color: #252525 !important; margin: 24px 0; }

.rich-text h3 { font-size: 18px; font-weight: 600; color: #333333 !important; margin: 20px 0; }

.rich-text h4 { font-size: 16px; font-weight: 500; color: #444444 !important; margin: 16px 0; }

.rich-text h5 { font-size: 14px; font-weight: 400; color: #555555 !important; margin: 12px 0; }

.rich-text h6 { font-size: 12px; font-weight: 400; color: #666666 !important; margin: 8px 0; }

.rich-text strong { font-weight: 700; }

.rich-text ol { margin-left: 30px; list-style-type: decimal; }

.rich-text ul { margin-left: 30px; list-style-type: disc; }

.rich-text li { margin-bottom: 8px; }

.rich-text a { color: #007AFF }

.rich-text pre {
  background-color: #1e1e1e; /* Dark background for code */
  color: #f8f8f2;
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  line-height: 1.5;
}

/* Inline code */
.rich-text code {
  background-color: #f4f4f4;
  color: #c7254e;
  padding: 2px 5px;
  border-radius: 4px;
  font-family: 'Fira Code', monospace;
  font-size: 14px;
}

/* Tables */
.rich-text table {
  border-collapse: collapse;
  width: 100%;
  margin: 16px 0;
}

.rich-text th,
.rich-text td {
  border: 1px solid #ddd;
  padding: 8px;
}

.rich-text th {
  background-color: #f4f4f4;
  font-weight: bold;
}

/* Images */
.rich-text img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 16px 0;
}